<main class="closeCurtains trans z-3">
    <div class="d-none loadVideo pt-1">
        <div class=" text-white text-center">
            <i class="fas fa-window-close close fs-2 mb-3" (click)="closeTrailer()"></i>
            <iframe [src]="baseUrlVid+key+'?autoplay='+autoplay|sanitizeURL" allow="autoplay" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>    
    <app-loading *ngIf="flag"></app-loading>
        <div class="backdrop w-100 min-vh-100 position-relative z-2" [ngClass]="flag==true?'d-none':' '">
            <div class="secOfDetails position-absolute top-0 z-n1 w-100 h-100" [ngStyle]="{backgroundImage:'url('+ image +')'}" style="background-repeat: repeat;  background-position: center center ;background-size: cover;">
            </div>            
        <div class="container" >
            <nav class="navbar bg-transparent">
                <div class="container-fluid">
                  <button class="navbar-toggler ms-auto" data-bs-toggle="tooltip" data-bs-title="Select Video or Trailer To Watch" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <!-- <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Trailers and Videos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div> -->
                    <div class="offcanvas-body DM-sans text-white">
                        <h2>Select A Video To Watch</h2>
                        <div class="row my-3 background-videos" data-bs-dismiss="offcanvas" (click)="getVideo(Video.key)" *ngFor="let Video of vidKey">
                            <div class="col-md-6">
                                <img [src]="VideoThumbnail+Video?.key+'/sddefault.jpg'" [alt]="Video.name" class="w-100">
                            </div>
                            <div class="col-md-6">
                                <p>{{Video.name}}</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </nav>
        <div class="row overflow-hidden closePage">
            <div class="col-12 col-lg-4 enter movie-image">
                <img [src]="baseUrlImg+details.poster_path" onerror="this.onerror=null; this.src='../../../assets/PlaceHolderImage.png'" [alt]="details.title" class="w-100">
            </div>
            <div class="col-12 col-lg-8 DM-sans enter movie-title">
                <div class="mt-5">
                    <h2 class="DM-sans ">{{details.title}}</h2>
                    <div class="d-flex gap-3 my-3">
                        <div>
                            <span class="me-1">Rating:</span>
                            <span>{{details.vote_average}}</span>
                        </div>
                        <div>
                            <span class="me-1">Vote Count:</span>
                            <span>{{details.vote_count}}</span>
                        </div>
                    </div>
                    <p class="DM-sans">{{details.overview}}</p>
                    <div class="d-flex gap-3">
                        <!-- <button class="buttonPlay rounded-pill"><i class="fas fa-play"></i> Play Now</button> -->
                        <button class="buttonTrailer rounded-pill" (click)="openTrailer()">Watch Trailer</button>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    <section class="background-color apprec">
        <!-- closeTrailerInChild the one inside square brackets is the name of the @Input inside recommendation component -->
        <app-recommendations [closeTrailerInChild]="closeTrailerInChild"></app-recommendations>
    </section>
</main>